<configuration>
  <!--<facilities>
    <facility id="loggingfacility" type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" loggingApi="log4net" configFile="logging.config" />
  </facilities>-->
  <properties>
    <connectionString>iWorkEntities</connectionString>
  </properties>
  <components>
    <component id="FirstDbContext" type="System.Data.Entity.DbContext, EntityFramework" lifestyle="scoped">
      <parameters>
        <nameOrConnectionString>#{connectionString}</nameOrConnectionString>
      </parameters>
    </component>
    <component type="System.Web.Http.Controllers.IHttpController, System.Web.Http" lifestyle="scoped" />
    <component type="iWork.Core.Web.ServiceContainer, iWork.Core.Web" service="iWork.Core.IServiceContainer, iWork.Core" lifestyle="scoped" />
    <component type="iWork.Core.Web.AuthorizationInterceptor, iWork.Core.Web" lifestyle="thread" />
  </components>
</configuration>