<configuration>
  <!--<facilities>
    <facility id="loggingfacility" type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" loggingApi="log4net" configFile="logging.config" />
  </facilities>-->
  <properties>
    <connectionString>iWorkEntities</connectionString>
  </properties>

  <components>
    <component id="FirstDbContext" type="System.Data.Entity.DbContext, EntityFramework" lifestyle="thread">
      <parameters>
        <nameOrConnectionString>#{connectionString}</nameOrConnectionString>
      </parameters>
    </component>
    <component id="aaa" type="iWork.Core.Web.AuthorizationInterceptor, iWork.Core.Web" lifestyle="thread">
      
    </component>
    <!--<component id="Service" service="iWork.Core.IService, iWork.Core" lifestyle="thread" />-->
  </components>
</configuration>