<configuration>
  <!--<facilities>
    <facility id="loggingfacility" type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" loggingApi="log4net" configFile="logging.config" />
  </facilities>-->
  <properties>
    <connectionString>iWorkEntities</connectionString>
    <authenticationConnectionString>AuthConnectionString</authenticationConnectionString>
  </properties>
  <components>
    <component id="iWorkContext" service="System.Data.Entity.DbContext, EntityFramework" type="iWork.Repository.EF.iWorkContext, iWork.Repository" lifestyle="PerWebRequest">
      <parameters>
        <nameOrConnectionString>#{connectionString}</nameOrConnectionString>
      </parameters>
    </component>
    <component id="AccountContext" type="iWork.Core.Repositories.EF.AccountContext, iWork.Core" lifestyle="PerWebRequest">
      <parameters>
        <nameOrConnectionString>#{authenticationConnectionString}</nameOrConnectionString>
      </parameters>
    </component>
    <component type="iWork.Core.ServiceContainer, iWork.Core" service="iWork.Core.IServiceContainer, iWork.Core" lifestyle="PerWebRequest" />
    <component type="iWork.Core.AuthorizationInterceptor, iWork.Core" lifestyle="PerWebRequest" />
  </components>
</configuration>