<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/Content/lib/bootstrap/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/Content/css/style.css" media="screen">
    <link rel="stylesheet" href="/Content/css/login.css" media="screen">

    <script src="/Content/Scripts/jquery-2.1.1.min.js"></script>
    <script src="/Content/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/Scripts/angular.min.js"></script>
</head>
<body>
    <div class="page-container">
        <div class="container main-content">
            <content></content>
        </div>
    </div>
</body>
</html>
