<layout>
    <sidecontent>
        <button iv-type="iconic"
                iv-icon="grid"
                iv-label="Observer Grid"
                iv-toggle="slick"
                iv-target="0"></button>
        <button iv-type="iconic"
                iv-icon="grid"
                iv-label="Ajax Grid"
                iv-toggle="slick"
                iv-target="1"></button>
        <button iv-type="iconic"
                iv-icon="upload"
                iv-label="File Uploader"
                iv-toggle="slick"
                iv-target="2"></button>
    </sidecontent>
    <content>
        <div class="slick-container">
            <div>
                <form iv-type="form" 
                      iv-title="Observer gird example" 
                      iv-name="contactSearchForm" 
                      iv-controller="Contact" 
                      iv-model="Contact" 
                      iv-action="Search"
                      iv-show-message="false"
                      iv-filtering-form="true"
                      >
                    <fieldset>
                        <input iv-autofocus="autofocus" iv-type="search" iv-name="term" iv-label="Search contact" />
                    </fieldset>
                </form>

                <grid iv-type="datatables"
                      iv-observe="contactSearchForm"
                      iv-controller="observerGrid"
                      iv-ordering="true"
                      iv-searching="false"
                      iv-display-length="15"
                      iv-url="/content/sample_data/grid.json"
                      iv-serverside="true"
                      iv-auto-load="false">

                    <grid iv-type="column" iv-title="Name" iv-data="name" iv-atargets="0"></grid>
                    <grid iv-type="column" iv-title="Position" iv-data="position" iv-atargets="1"></grid>
                    <grid iv-type="column" iv-title="salary" iv-data="salary" iv-atargets="2"></grid>
                    <grid iv-type="column" iv-title="start_date" iv-data="start_date" iv-atargets="3"></grid>
                    <grid iv-type="column" iv-title="office" iv-data="office" iv-atargets="4"></grid>
                    <grid iv-type="column" iv-title="extn" iv-data="extn" iv-atargets="5"></grid>
                    <grid iv-type="column" iv-title="Edit button" iv-kind="btn.edite" iv-atargets="6" iv-width="100"></grid>
                    <grid iv-type="column" iv-title="Delete button" iv-kind="btn.delete" iv-atargets="7" iv-width="100"></grid>


                </grid>
            </div>


            <div>
                <grid iv-type="datatables" 
                      iv-title="Ajax Grid" 
                      iv-controller="sampleGrid" 
                      iv-url="/content/sample_data/grid.json" 
                      iv-ordering="true" 
                      iv-display-length="15" 
                      iv-serverside="false"
                      >
                    <grid iv-type="column" iv-title="Name" iv-data="name" iv-atargets="0"></grid>
                    <grid iv-type="column" iv-title="Position" iv-data="position" iv-atargets="1"></grid>
                    <grid iv-type="column" iv-title="salary" iv-data="salary" iv-atargets="2"></grid>
                    <grid iv-type="column" iv-title="start_date" iv-data="start_date" iv-atargets="3"></grid>
                    <grid iv-type="column" iv-title="office" iv-data="office" iv-atargets="4"></grid>
                    <grid iv-type="column" iv-title="extn" iv-data="extn" iv-atargets="5"></grid>
                    <grid iv-type="column" iv-title="Edit button" iv-kind="btn.edite" iv-atargets="6" iv-width="100"></grid>
                    <grid iv-type="column" iv-title="Delete button" iv-kind="btn.delete" iv-atargets="7" iv-width="100"></grid>
                </grid>
            </div>

            <div>
                <form iv-type="form" iv-name="searchForm" iv-controller="Contact" iv-model="Contact" iv-action="add" iv-show-message="false">
                    <input iv-type="text" iv-name="fullname" iv-label="Fullname" iv-required="true" />
                    <input iv-type="text" iv-name="tel1" iv-label="Home" />
                    <datepicker iv-type="time" iv-label="Timepicker"></datepicker>
                    <datepicker iv-type="date" iv-label="Datepicker"></datepicker>
                    <uploader iv-type="dropzone" iv-label="File Uplaoder"></uploader>
                    <button iv-type="submit" iv-name="submit" iv-label="Submit" />
                </form>
            </div>

        </div>
    </content>
</layout>