<configuration>

  <properties>
    <connectionString>iWorkEntities</connectionString>
  </properties>

  <components>
    <component type="System.Data.Entity.DbContext, EntityFramework">
      <parameters>
        <nameOrConnectionString>#{connectionString}</nameOrConnectionString>
      </parameters>
    </component>
  </components>

</configuration>