<layout>
    <content>
        <view iv-type="row">
            <view iv-type="column" iv-size="4">
                <form iv-type="form" iv-name="loginForm" iv-title="contactformadd" iv-controller="Authentication" iv-redirecturl="default">
                    <fieldset>
                        <input iv-type="text" iv-name="fullname" iv-model="contact" />
                        <input iv-type="text" iv-name="tel1" iv-model="contact" />
                        <input iv-type="text" iv-name="tel2" iv-model="contact" />
                        <input iv-type="text" iv-name="tel3" iv-model="contact" />
                        <input iv-type="text" iv-name="tel4" iv-model="contact" />
                        <input iv-type="text" iv-name="company" iv-model="company" />
                        <input iv-type="text" iv-name="unit" iv-model="unit" />
                        <input iv-type="text" iv-name="description" iv-model="description" />
                        <button iv-type="submit" iv-name="submit" />
                    </fieldset>
                    <result>
                        <view iv-type="error"></view>
                        <view iv-type="success"></view>
                    </result>
                </form>
            </view>
        </view>
    </content>
</layout>
<api>
    <models>
        <model name="updateResult" response="true">
        </model>
    </models>
    <controllers>
        <controller name="Contact" action="update" requestmodel="contact" responsemodel="updateResult">
        </controller>
    </controllers>
</api>
