<layout iv-source="Partial.html">
    <content>
        <form iv-type="form" iv-name="searchForm" iv-controller="Contact" iv-model="Contact" iv-action="Search" iv-show-message="false">
            <fieldset>
                <input iv-autofocus="autofocus" iv-type="search" iv-name="term" iv-placeholder="contact.searchPlacholder" />
            </fieldset>
        </form>
        <grid iv-type="table" iv-controller="contactGrid" iv-observe="searchForm">
            <thead ng-show="result.Data">
                <tr>
                    <th translate>{{'#'}}</th>
                    <th translate>{{'grid.fullname'}}</th>
                    <th translate>{{'grid.company'}}</th>
                    <th translate>{{'grid.unit'}}</th>
                    <th translate>{{'grid.home'}}</th>
                    <th translate>{{'grid.mobile'}}</th>
                    <th translate>{{'grid.office'}}</th>
                    <th translate>{{'grid.fax'}}</th>
                    <th translate>{{'grid.description'}}</th>
                    <th translate>{{'grid.update'}}</th>
                    <th translate>{{'grid.delete'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in result.Data">
                    <td>{{ x.Id }}</td>
                    <td>{{ x.Fullname }}</td>
                    <td>{{ x.Company }}</td>
                    <td>{{ x.Unit }}</td>
                    <td>{{ x.Tel1 }}</td>
                    <td>{{ x.Tel2 }}</td>
                    <td>{{ x.Tel3 }}</td>
                    <td>{{ x.Tel4 }}</td>
                    <td>{{ x.Description }}</td>
                    <td>
                        <button iv-type="update" iv-entity-id="{{x.Id}}" iv-href="#/contacts/form"></button>
                    </td>
                    <td>
                        <button iv-type="delete" iv-model="Contact" iv-entity-id="{{x.Id}}" iv-confirm="true"> </button>
                    </td>
                </tr>
            </tbody>
        </grid>
    </content>
</layout>
