@import '_helper.scss';

/* Over bootstrap
====================================================*/

.input-group-addon {
    border: none;
    background: none;
}


/* Datepicker
====================================================*/
.datepicker.dropdown-menu {
    width: 250px;
    height: 270px;

    button {
        outline: none;
        border: 0px;
    }

    tbody {
        height: 180px;
    }

    tbody button {
        padding: 6px;
    }

    &.datepicker-mode-1, &.datepicker-mode-2 {
        tbody button {
            height: 65px;
        }
    }
}

/* File uploader
====================================================*/
.dropzone {
    float: left;
    min-height: 160px;
    padding: 0px;
    overflow: visible !important;
    width: 100%;
    margin: 10px 0px;
    background-color: #f9f9f9;
    border: 2px dashed #eeeeee;
    @include border-radius(5px);
}

.dropzone .dz-preview:hover .dz-image img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.dz-default {
    font-size: 20px;
    color: #999999;
}

.dz-preview {
    display: block;
    float: left;

    @include box-shadow(0px, 0px, 3px, 1px, rgba(204,204,204,0.65));
}

.dropzone .dz-preview .dz-image {
    @include border-radius(5px);
    border-radius: 0 !important;
}

.dz-error-message {
    z-index: 10000;
}

.slick-slide {
    width: 100%;
    float: left;
    height: auto;
    min-height: 800px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    transition: none;
}

.slick-list {
    width: 100%;
    float: left;
    transition: none;
}
/* Search Box
----------------------------------------------------------------*/
.search-box {
    border: 1px solid #eeeeee;
    @include border-radius(5px);

    .button-box {
        padding: 0px;
        border: none;
        background: none;
    }

    .input-group-addon {
        border: none;
    }

    input {
        border: none !important;
        padding-right: 0px;
        padding-left: 0px;
    }

    button {
        @include border-radius(0px);
    }
}

.search-box-message {
    display: block;
    font-size: 11px;
    color: #999999;
    margin-top: 3px;
}

/* Form Container
======================================================================*/
.form-container {
    display: block;
    width: 100% !important;
}

.form-container fieldset {
    margin-bottom: 8px;
}

.form-container h3 {
    display: block;
    font-size: 28px;
    height: 32px;
    line-height: 32px;
}

.form-horizontal .form-group {
    padding: 0px;
    margin: 10px 0px !important;
}

.form-horizontal .form-group label {
    font-size: 14px;
    font-weight: lighter;
    color: #333333;
    text-align: left;
    padding-right: 0px;
    padding-left: 0px;
}

.form-horizontal .form-group textarea,
.form-horizontal .form-group select,
.form-horizontal .form-group input {
    border: none;
    border-bottom: 1px solid #eeeeee;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #333333 !important;
    @include border-radius(0px);
    text-align: left !important;
}

.form-horizontal .form-group textarea:focus,
.form-horizontal .form-group select:focus,
.form-horizontal .form-group input:focus {
    border-bottom: 1px solid #286090;
}

.form-horizontal .done-btn {
    display: none;
}

.form-horizontal .btn {
    //box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
}



::-webkit-input-placeholder { /* WebKit browsers */
    color: #cccccc !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #cccccc !important;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #cccccc !important;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #cccccc !important;
}

.ajax-box {
    position: absolute;
    top: 0px;
    right: 200px;
    left: 200px;
    height: 22px;
    z-index: 5000000;
}

.ajax-box div.loading {
    display: none;
    width: 220px;
    height: 24px;
    margin: 0px auto 0px auto;
    background-image: url("../img/loading.gif");
}

/* Form Validation
========================================*/

.form-horizontal select.ng-invalid:focus,
.form-horizontal textarea.ng-invalid:focus,
.form-horizontal input.ng-invalid:focus,
.form-horizontal select.ng-invalid.ng-dirty,
.form-horizontal textarea.ng-invalid.ng-dirty,
.form-horizontal input.ng-invalid.ng-dirty {
    border-bottom: 1px solid #F43E00 !important;
    background: lighten(#F43E00,50%) !important;
}


.form-horizontal .validation-message {
    color: red;
    width: 100%;

    div {
        display: block;
        width: 100%;
        font-size: 11px;
        text-indent: 10px;
    }
}

//.error-messages.ng-active:after
/*::-webkit-validation-bubble {border:1px solid red !important;}
::-webkit-validation-bubble-arrow-clipper {border:1px solid red !important;}
::-webkit-validation-bubble-arrow {border:1px solid red !important;}
::-webkit-validation-bubble-message {border:1px solid red !important;}*/
.form-help-message {
    font-size: 12px;
    margin-bottom: 10px;
    color: #999999;
    text-indent: 10px;
}

.form-horizontal {
    textarea:invalid,
    input:invalid {
        outline: none;
    }
}

/* Checklist
===================================*/
.magicsuggest-box {
    .form-control {
        box-shadow: none;
        padding: 0px;
        min-height: 32px;
        border: none;
    }

    .ms-ctn .ms-sel-ctn {
        margin-left: 0px;
    }

    .ms-sel-ctn {
        padding: 0px;

        input {
            min-height: 32px;
            padding: 0px;
            margin: 0px;
            text-indent: 10px;
        }
    }

    .ms-sel-item {
        height: 28px;
        line-height: 28px;
    }

    .ms-ctn-focus {
        outline: none !important;
        border: none;
        box-shadow: none;
    }

    .dropdown-menu {
        display: none;
    }
}

/* Checklist
===================================*/
.checklist {
    .checkbox-label-column {
        display: none;
    }

    .form-group,
    .checkbox-input-column {
        width: auto;
        float: left;
        padding-left: 0px;
    }

    div .form-group {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .control-label {
        margin-top: 0px;
        padding-top: 0px;
    }
}
/* Radio list
===================================*/

.radio-list {
    & > div label {
    }
}

/* Iconic button
==================================*/

.btn-iconic {
    display: block;
    width: 100%;
    float: right;
    background-color: #eeeeee;
    outline: none;
    text-align: center;
    margin-top: 5px;
}

.btn-iconic:focus,
.btn-iconic:active {
    outline: none;
}

.btn-iconic span {
    display: block;
    width: 100%;
    float: left;
    height: 28px;
    line-height: 28px;
    color: #bbbbbb;
}


.icon-element {
    margin: 0px 0px 0px 5px;
    display: block;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.btn-iconic.selected {
    color: #2196F3;
}

.btn-iconic.selected .svg-inject {
    fill: #2196F3 !important;
}

.btn-iconic.selected span {
    color: #2196F3;
}

.btn-iconic .svg-inject {
    fill: #BBBBBB !important;
    width: 24px;
    height: 24px;
    margin: 0px auto 0px auto;
}
