.dataTables_wrapper{
    label{
       font-weight:normal;
       color:#333;
    }

    .dataTables_filter{

        input{
            border:1px solid #999999;
        }

    }
    table tr td{
        border:2px solid #333333 !important;
    }

    table tr.odd td {
        background:#f8f8f8;
    }
}