.unselectable, .navbar {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }

.no-padding {
  padding-left: 0px; }

* {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease; }

.validation-message {
  -webkit-transition: all 0ms ease;
  -moz-transition: all 0ms ease;
  -ms-transition: all 0ms ease;
  -o-transition: all 0ms ease;
  transition: all 0ms ease; }

table * {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

.navbar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  -moz-animation-name: dropHeader;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.2s;
  -webkit-animation-name: dropHeader;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.2s;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s; }

header ul {
  list-style: none;
  margin: 0;
  padding: 0; }

header ul li {
  display: inline-block;
  margin-right: 20px; }

@-moz-keyframes dropHeader {
  0% {
    -moz-transform: translateY(-40px); }

  100% {
    -moz-transform: translateY(0); } }

@-webkit-keyframes dropHeader {
  0% {
    -webkit-transform: translateY(-40px); }

  100% {
    -webkit-transform: translateY(0); } }

@keyframes dropHeader {
  0% {
    transform: translateY(-40px); }

  100% {
    transform: translateY(0); } }

/*
    =============================
*/
@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Regular.eot?") format("eot"), url("../font/OpenSans-Regular.woff") format("woff"), url("../font/OpenSans-Regular.ttf") format("truetype"), url("../font/OpenSans-Regular.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }

body, html {
  overflow: hidden !important; }

body {
  font-family: 'Open Sans';
  padding-top: 72px;
  background: #F9F9F9; }

.row {
  float: left;
  width: 100%; }

.panel-image {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(204, 204, 204, 0.65);
  -moz-box-shadow: 0px 0px 3px 1px rgba(204, 204, 204, 0.65);
  box-shadow: 0px 0px 3px 1px rgba(204, 204, 204, 0.65);
  overflow: hidden; }
  .panel-image .panel-image-body {
    padding: 10px; }

.control-label span {
  margin: 10px 0px 0px 3px;
  float: left; }
.control-label input {
  width: 24px;
  float: left;
  background: none !important; }

.page-container {
  min-height: 700px;
  width: 100%;
  z-index: 4000;
  padding: 0px; }
  .page-container > div {
    padding: 10px;
    margin: 0px;
    min-height: 700px;
    background-color: #ffffff; }

.navbar-fixed-top {
  display: block;
  height: 72px;
  background: #EEEEEE; }
  .navbar-fixed-top > div {
    margin: 0px;
    padding: 0px; }

.navbar-fixed-top .bottom-inner-shadow {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow: 10000;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0d000000',GradientType=0 );
  /* IE6-9 */ }

.navbar-brand:visited, .navbar-brand {
  background-color: #FF5722;
  width: 100%;
  height: 72px;
  line-height: 42px;
  color: #ffffff !important;
  font-size: 35px;
  font-weight: lighter; }

.navbar-brand:focus, .navbar-brand:hover {
  background: #F43E00 !important; }

.navbar-nav li, .navbar-nav li a {
  height: 71px;
  line-height: 42px;
  font-size: 16px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

.navbar-nav li:hover a {
  background: #ffffff !important;
  background-color: white; }

.navbar-nav li.active a {
  background: #ffffff !important;
  -webkit-box-shadow: 0px -2px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -2px 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -2px 3px 1px rgba(0, 0, 0, 0.2); }

.ribbon-bar {
  display: block;
  width: 6px;
  height: 72px;
  background: #F43E00 !important; }

.sub-menu {
  background: none !important;
  padding: 0px 5px 0px 0px !important; }
  .sub-menu button {
    width: 100%;
    background: none;
    margin: 8px 0px 0px 0px;
    padding: 8px 0px 0px 0px !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
    .sub-menu button .svg-inject {
      margin: 0px auto !important;
      float: none !important;
      fill: #75BBF2 !important; }
    .sub-menu button span {
      color: #75BBF2;
      width: 100%;
      text-align: center; }
  .sub-menu button:hover, .sub-menu button:active, .sub-menu button {
    outline: none !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }
  .sub-menu button.selected {
    background: #fefefe;
    border-left: 5px solid #2196F3; }
    .sub-menu button.selected .svg-inject {
      fill-opacity: 1;
      fill: #2196F3; }

.member-territory {
  display: block;
  width: 50px;
  margin: 10px;
  position: relative; }
  .member-territory .member-territory-box {
    display: none;
    width: 180px;
    height: 170px;
    position: absolute;
    padding-top: 60px;
    top: -5px;
    right: -5px;
    background: #ffffff;
    z-index: 30000;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.32);
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#52000000,Positive=true)";
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#52000000,Positive=true); }
    .member-territory .member-territory-box .member-info {
      display: block;
      position: absolute;
      top: 22px;
      left: 10px;
      width: 110px;
      height: 20px; }
    .member-territory .member-territory-box > button {
      display: block;
      background-color: #EEEEEE;
      border: none;
      width: 90%;
      margin: 6px auto;
      font-size: 12px;
      padding: 6px 0px; }
    .member-territory .member-territory-box > button:first-child {
      background: #36A0F4;
      color: #ffffff; }
  .member-territory:hover .member-territory-box {
    display: block; }
  .member-territory .avatar-box {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    border: 2px solid #0091EA;
    position: relative;
    position: absolute;
    z-index: 31000;
    overflow: hidden; }
    .member-territory .avatar-box img {
      width: 100%; }
  .member-territory .svg-inject {
    width: 40px;
    height: 40px;
    margin: 5px;
    fill: #bbbbbb;
    position: relative;
    top: -2px;
    left: -2px; }

.main-content {
  overflow-x: hidden;
  overflow-y: visible;
  display: block;
  height: auto;
  min-height: 10px !important; }

.page-content {
  display: block;
  width: 100%;
  float: right;
  background-color: #ffffff;
  padding: 10px 10px 30px 10px !important;
  min-height: 100%; }

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.slide.ng-enter {
  left: 100%;
  opacity: 0; }

.slide.ng-enter-active {
  left: 0;
  opacity: 1; }

.slide.ng-leave {
  left: 0;
  opacity: 1; }

.slide.ng-leave-active {
  left: -100%; }

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

.translate-buttton-box {
  display: block;
  width: 100%;
  padding: 0px 6px;
  border-top: 1px solid #cccccc;
  padding-top: 6px; }
  .translate-buttton-box button {
    display: block;
    float: right;
    width: 30px;
    margin: 0px 5px;
    height: 22px;
    line-height: 0px;
    padding: 3px 0px;
    font-size: 12px;
    text-align: center; }
  .translate-buttton-box .selected {
    background: #2c77ba !important;
    color: #ffffff; }

.dataTables_wrapper label {
  font-weight: normal;
  color: #333; }
.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #999999; }
.dataTables_wrapper table tr.odd td {
  background: #f8f8f8; }
.dataTables_wrapper .dataTables_paginate {
  float: right; }
.dataTables_wrapper .dataTables_length {
  float: left; }

.unselectable, .navbar {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }

/* Over bootstrap
====================================================*/
.input-group-addon {
  border: none;
  background: none; }

/* Datepicker
====================================================*/
.datepicker.dropdown-menu {
  width: 250px;
  height: 270px; }
  .datepicker.dropdown-menu button {
    outline: none;
    border: 0px; }
  .datepicker.dropdown-menu tbody {
    height: 180px; }
  .datepicker.dropdown-menu tbody button {
    padding: 6px; }
  .datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px; }

/* File uploader
====================================================*/
.dropzone {
  float: left;
  min-height: 160px;
  padding: 0px;
  overflow: visible !important;
  width: 100%;
  margin: 10px 0px;
  background-color: #f9f9f9;
  border: 2px dashed #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(1px);
  filter: blur(1px); }

.dz-default {
  font-size: 20px;
  color: #999999; }

.dz-preview {
  display: block;
  float: left;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(204, 204, 204, 0.65);
  -moz-box-shadow: 0px 0px 3px 1px rgba(204, 204, 204, 0.65);
  box-shadow: 0px 0px 3px 1px rgba(204, 204, 204, 0.65); }

.dropzone .dz-preview .dz-image {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-radius: 0 !important; }

.dz-error-message {
  z-index: 10000; }

.slick-slide {
  width: 100%;
  float: left;
  height: auto;
  min-height: 800px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  transition: none; }

.slick-list {
  width: 100%;
  float: left;
  transition: none; }

/* Search Box
----------------------------------------------------------------*/
.search-box {
  border-bottom: 1px solid #CCCCCC;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }
  .search-box .button-box {
    padding: 0px;
    border: none;
    background: none; }
  .search-box .input-group-addon {
    border: none;
    background: #F9F9F9; }
  .search-box input {
    border: none !important;
    padding-right: 0px;
    padding-left: 0px; }
  .search-box .search-box-icon {
    font-size: 20px;
    color: #aaaaaa; }
  .search-box button {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border: 1px solid #eeeeee;
    height: 35px;
    padding: 0px 20px !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important; }

.search-box-message {
  display: block;
  font-size: 11px;
  color: #999999;
  margin-top: 3px; }

/* Form Container
======================================================================*/
.form-container {
  display: block;
  width: 100% !important; }
  .form-container .col-md-12 {
    padding: 0px; }

.form-container fieldset {
  margin-bottom: 8px; }

.form-container h3 {
  display: block;
  font-size: 28px;
  height: 32px;
  line-height: 32px; }

.form-horizontal .form-group {
  padding: 0px;
  margin: 10px 0px !important; }

.form-horizontal .form-group label {
  font-size: 12px;
  font-weight: lighter;
  color: #888888;
  text-align: left;
  padding-right: 0px;
  padding-left: 0px; }

.form-horizontal .form-group textarea, .form-horizontal .form-group select, .form-horizontal .form-group input {
  border: none;
  border-bottom: 1px solid #eeeeee;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: #333333 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background: #F9F9F9; }

.form-horizontal .form-group textarea:focus, .form-horizontal .form-group select:focus, .form-horizontal .form-group input:focus {
  border-bottom: 1px solid #286090; }

.form-horizontal .done-btn {
  display: none; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #cccccc !important; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #cccccc !important;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #cccccc !important;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #cccccc !important; }

.ajax-box {
  position: absolute;
  top: 0px;
  right: 200px;
  left: 200px;
  height: 22px;
  z-index: 5000000; }

.ajax-box div.loading {
  display: none;
  width: 220px;
  height: 24px;
  margin: 0px auto 0px auto;
  background-image: url("../img/loading.gif"); }

/* Form Validation
========================================*/
.form-horizontal select.ng-invalid:focus, .form-horizontal textarea.ng-invalid:focus, .form-horizontal input.ng-invalid:focus, .form-horizontal select.ng-invalid.ng-dirty, .form-horizontal textarea.ng-invalid.ng-dirty, .form-horizontal input.ng-invalid.ng-dirty {
  border-bottom: 1px solid #F43E00 !important;
  background: #fff7f4 !important; }

.form-horizontal .validation-message {
  color: red;
  width: 100%; }
  .form-horizontal .validation-message div {
    display: block;
    width: 100%;
    font-size: 11px;
    text-indent: 10px; }

/*::-webkit-validation-bubble {border:1px solid red !important;}
::-webkit-validation-bubble-arrow-clipper {border:1px solid red !important;}
::-webkit-validation-bubble-arrow {border:1px solid red !important;}
::-webkit-validation-bubble-message {border:1px solid red !important;}*/
.form-help-message {
  font-size: 12px;
  margin-bottom: 10px;
  color: #999999;
  text-indent: 10px; }

.form-horizontal textarea:invalid, .form-horizontal input:invalid {
  outline: none; }

/* Magic Suggest
===================================*/
.magicsuggest-box .form-control {
  box-shadow: none;
  padding: 0px;
  min-height: 32px;
  border: none; }
.magicsuggest-box .ms-ctn .ms-sel-ctn {
  margin-left: 0px; }
.magicsuggest-box .ms-sel-ctn {
  padding: 0px; }
  .magicsuggest-box .ms-sel-ctn input {
    min-height: 32px;
    padding: 0px;
    margin: 0px;
    text-indent: 10px; }
.magicsuggest-box .ms-sel-item {
  height: 28px;
  line-height: 28px; }
.magicsuggest-box .ms-ctn-focus {
  outline: none !important;
  border: none;
  box-shadow: none; }
.magicsuggest-box .dropdown-menu {
  display: none; }

/* Checklist
===================================*/
.checklist .checkbox-label-column {
  display: none; }
.checklist .form-group, .checklist .checkbox-input-column {
  width: auto;
  float: left;
  padding: 0px 0px 0px 6px; }
.checklist div .form-group {
  margin-top: 0 !important;
  padding-top: 0 !important; }
.checklist .control-label {
  margin-top: 0px;
  padding-top: 0px; }

/* Radio list
===================================*/
/* Iconic button
==================================*/
.btn-iconic {
  display: block;
  width: 100%;
  float: right;
  outline: none;
  text-align: center;
  margin-top: 5px;
  padding-top: 9px;
  overflow: hidden;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease; }

.btn-iconic:focus, .btn-iconic:active {
  outline: none; }

.btn-iconic span {
  display: block;
  width: 100%;
  float: left;
  margin-top: 8px;
  min-height: 20px;
  line-height: 20px;
  color: #AED9FB;
  white-space: normal;
  font-size: 14px; }

.icon-element {
  margin: 0px 0px 0px 5px;
  display: block;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat; }

.btn-iconic.selected {
  color: #2196F3;
  border-left: 4px solid #2196F3;
  background: #FEFEFE; }

.btn-iconic:hover {
  background: #f4f4f4; }
  .btn-iconic:hover .svg-inject {
    fill: #2196F3 !important; }
  .btn-iconic:hover span {
    color: #2196F3; }

.btn-iconic:hover:active {
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn-iconic.selected span {
  color: #2196F3; }

.btn-iconic .svg-inject {
  width: 24px;
  height: 24px;
  margin: 0px auto 0px auto;
  fill: #AED9FB !important;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease; }

.btn-iconic.selected .svg-inject {
  fill: #2196F3 !important; }

.unselectable, .navbar {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }

.form-container .btn-primary {
  border: none;
  background-color: #0085b2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.21);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#36000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#36000000,Positive=true); }

.form-container .btn-default {
  border: none;
  background-color: #eeeeee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.21);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#36000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#36000000,Positive=true); }

.form-container .btn {
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease; }
  .form-container .btn:focus, .form-container .btn:active {
    outline: none !important; }
  .form-container .btn:active {
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.21); }

.popover-content {
  padding: 3px; }
  .popover-content .btn-group {
    display: block;
    width: 100%; }
    .popover-content .btn-group a {
      display: block;
      float: left;
      width: 100%;
      margin-top: 3px; }

/*# sourceMappingURL=style.css.map */